.container{    
        // border: 5px solid blue;
        display: grid; 
        grid-template-columns: repeat(3,1fr); 
        gap:50px;
        margin-top: 250px;
       
        .quart{
            padding: 10px;
            position: relative;         
            overflow:hidden;
            z-index: 3;
            transition-duration:  0.5s ;
            &:hover{
                transform: scale(1.1);      
                box-shadow: 
                0 0 0 5px #ff000033,
                0 0 0 10px #ff000022,
                0 0 0 20px #ff000011,
                0 0 20px #ff0000,
                0 0 50px #ff0000;
                z-index: 999;
                border: 8px solid 008000;
           
                
              }
        
         &::before{
            
            content: "";
            position: absolute;
            width: 250%;
            height: 200%;
            top:-200px;
            left: -200px;
            // inset: -50px 00px;
        // border-radius: 50%;
        //  background: conic-gradient( rgb(167, 33, 33) 0 20%, rgb(27, 27, 160) 28% 40%, rgb(87, 160, 27) 48% 60%,  rgb(218, 155, 20) 68% 80%, rgb(123, 18, 193) 88% 100%,);
        // animation: rotate 5s linear infinite;
           
             z-index: 1s;
        
         }
         &:hover:before{
            // background: conic-gradient( #ff000099 0% 10% , transparent 15% 46%, red 50% 60%,transparent 65% 100%,);
         background: conic-gradient( rgb(167, 33, 33) 0 20%, rgb(27, 27, 160) 28% 40%, rgb(87, 160, 27) 48% 60%,  rgb(218, 155, 20) 68% 80%, rgb(123, 18, 193) 88% 100%,);
            
            animation: rotate 3s linear infinite;
         }
        //  &::after{
           
        //     content: "";
        //     position: absolute;
        //     width: 250;
        //     height: 200;
        //     // top:0px;
        //     // left: 255px;
        //      top:0px;
        //     left: 255px;
        //     // border-radius: 30%;         
        // //  background: conic-gradient( rgb(167, 33, 33) 0 20%, rgb(27, 27, 160) 28% 40%, rgb(87, 160, 27) 48% 60%,  rgb(218, 155, 20) 68% 80%, rgb(123, 18, 193) 88% 100%,);
   
        //     border: 5px solid #ff000099;
        //      z-index: 5;
        //      //animation: rotate 3s linear infinite;
         
        //      box-shadow: 
        //      0 0 0 5px #ff000033,
        //      0 0 0 10px #ff000022,
        //      0 0 0 20px #ff000011,
        //      0 0 20px #ff0000,
        //      0 0 50px #ff0000;
             
        //  }
         @keyframes rotate {
           100%{
                transform: rotate(1turn);
            }
         }
    
    
        .card{            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 250px;                         
            // border: 10px solid red;
            // transition-duration:  0.5s ;
            background-color: #202020; 
            position: relative;

            z-index: 1;
            img{
                 width: 100%;
                 height: 250px;
                
            }
    
            &:hover{
                // transform: scale(1.2); 
                // // box-shadow: 0 0 50px #e62429;      
                // // animation: animate 1s linear forwards;
                // box-shadow: 
                // 0 10px 100px blue;
                // z-index: 999;
            }
            h3{
                font-family: 'Marvel', sans-serif;
                color: #fff;
                font-size: 18px;         
                margin: 40px 0 10px 0 ;
                text-align: center;
            }
            button{
                padding: 10px;
                width: 150px;
                margin: 30px 0px;
            
            }
      
                    }           
                }
   
        
       
    }   
         
  