
    .container{    
        display: grid; 
        grid-template-columns: repeat(4,1fr); 
        gap:30px;
        margin-top: 50px;
        padding:0 50px;
     
        .quart{
            padding: 0px;
            position: relative; 
            transition-duration:  0.5s ;
            border-radius: 30px;
            &:hover{
                transform: scale(1.1);              
              }        
    
         &:hover:before, &:hover:after {
            content: "";
            position: absolute;         
            width: calc(100% + 8px);
            height: calc(100% + 8px);            
            top:-4px;
            left: -4px;  
            border-radius: 30px;    
            background: linear-gradient(45deg, blue  0 15% , rgb(1, 255, 1) 20% 35%, red 40% 55%,  orange 60% 75% , purple 80% 100%);
            background-size: 400%;
            animation: rotate 17s linear infinite;
            z-index: -1;        
         }

         &:hover:after{       
             filter: blur(15px);
         }
   
         @keyframes rotate {
            0%{
                 background-position: 0 0;
             }
             50%{
                background-position: 200% 0;
            }
            100%{
                background-position: 0 0;
            }
          }
    
        .card{            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;         
            width: 250px;  
        //   background: hsl(hue, saturation, lightness);
            background-color: rgb(33, 33, 33);  
            // background-color: #111111;  

            border-radius: 30px;           
            z-index: 1;
            img{
                border-top-right-radius:30px;
                border-top-left-radius:30px;
                 width: 100%;
                 height: 250px;
                
            }    
            h3{
               position: relative;
                color: #fff;
                font-size: 20px;         
                margin: 40px 0 10px 0 ;
                text-align: center;         
                max-height: 20px;
                font-weight:700;
            }
        
            .buttonX{
                margin-bottom: 30px;
                margin-top: 30px;
                width: 140px;
                height: 50px;
                position: relative;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
           
              
                &::after{
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 1px 1px 0 0; 
                    border-color: #fff; 
                    width: 119.9px;              
                    height: 16px;
                    // border: 1px solid red;
                    position: absolute;
                    right: 0px;
                   top:0;
                    z-index: 999;
                 
                }
                &:before{
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 0 0 1px 1px; 
                    border-color: #fff; 
                    width: 120px;              
                    height: 16px;             
                    position: absolute;
                    bottom:0;
                    left: 0px;
                    z-index: 999;
                  
                }
                &:hover{
                    opacity: 0.7;
                  
                }
                .span{
                    color: white;
                    display: inline-block;
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;                  
                    left:0;
                    right: 0;           
                    width: 100%;
                    text-align: center;
                    font: 800 15px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
                  
                    &:hover{
                       box-sizing: border-box;
                      
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 18px;
                        width: 17px;
                        position: absolute;
                        z-index: 999;
                        background-size: 17px 22px;
                        background-image: repeating-linear-gradient(-45deg,#fff,#fff 1px,transparent 0,transparent 16px);
                     
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        height: 18px;
                        width: 17px;
                        position: absolute;
                        z-index: 999;
                        background-size: 21px 22px;                     
                        background-image: repeating-linear-gradient(-45deg,#fff,#fff 1px,transparent 0,transparent 16px);
                    }
                 
                }
            }
            
          
                    }           
                }
   
    }   


         
  