.container{
    display: flex;
    justify-content: center;
    position: absolute;
    top:170px;
    width: 100%;
    z-index: 1;
    input{
        width: 40%;
        padding: 10px 16px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #fbfdf2;
        font: 600 25px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    }
}